<ion-header>
  <ion-toolbar>
    <ion-title>Benvenuto!</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide >
      <ion-img  class="slide-1" src="assets/img/AEVENTI.gif">
      </ion-img>
    </ion-slide>

    <ion-slide>
      <ion-img  class="slide-1" src="assets/img/AEVENTIp2.gif">
      </ion-img>
    </ion-slide>

    <ion-slide>
      <h1>Inizia a Cercare!
      </h1>
      <ion-button shape="round"  [routerLink]="['/feed']">
        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
        </svg>
      </ion-button>
    </ion-slide>
  </ion-slides>

</ion-content>
